body {
  background-color: snow;
  font-family: "Gill Sans MT", Arial, sans-serif;
  margin: 10%;
  line-height: 1;
}

.header {
  line-height: 5px;
  text-align: center;
  border-color: Salmon;
  border-width: 1px;
  border-style: solid;
}

h6 {
  color: Salmon;
} 
.first {
  line-height: .1px;
}
.exp{
  line-height: 20px;
}

.left-content{
  float: left;
  width: 80%;
}

.right-content{
  float: right;
  width: 20%;
}

