body {
  background-color: snow;
  font-family: "Gill Sans MT", Arial, sans-serif;
  margin: 10%;
  text-align: center;
}

h1{
  font-weight: lighter;

}

.header {
  line-height: 5px;
  text-align: center;
  border-color: Salmon;
  border-width: 2px;
  border-style: solid;
  border-left-color: snow;
  border-right-color: snow;
  margin-right: 5%;
  margin-left: 5%;
  text-transform: uppercase;
}

.body-content{
  line-height: ;
}

h4{
  text-transform: uppercase;
}

h6 {
  color: Salmon;
} 
.first {
  margin-top: 2em;
  line-height: .1px;
}

.exp{
  margin-top: .01px;
  text-align: center;
  list-style-type: circle;
  list-style-position: inside;
}

.left-content{
  float: left;
  width: 35%;
}

.right-content{
  float: right;
  width: 65%;
}

